<style>
    body {
        background: linear-gradient(#062f4f, #0099cc);
        min-height: 100vh;
    }

    .team-title {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        color: #fff;
        text-align: center;
        margin-top: 10vh;
    }

    .team-tagline {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
    }

    .personal-title {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        color: #fff;
        text-align: center;
        margin-top: 10vh;
    }

    .personal-tagline {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        color: #fff;
        text-align: center;

    }
</style>

<div class="team-title" onclick="location.href='/team'">
    Our Team
</div>

<div class="team-tagline">
    Introduce our team
</div>

<div class="personal-title" onclick="location.href='/about'">
    About
</div>

<div class="personal-tagline">
    Introducing what it can do
</div>

<div class="personal-title" onclick="location.href='/openai/0'">
    Image GPT
</div>

<div class="personal-tagline">
    The function of this machine is to generate the corresponding AI images based on the description
</div>
