<div class="transbox">
    <h1>Individual Resume</h1>
    <img src="/avatar.jpg" height="50px" width="50px" class="ex1"/>
    <h2 class="ex1">name</h2>
    <h3 class="ex1">school Number：**********</h3>
    <h3 class="ex1">class：**********</h3>
    <h3 class="ex1">college：****</h3>
    <h3 class="ex1">roles：****</h3>
    <h3 class="ex1">university：<a class="cc" href="/">*****</a></h3>
    <h3 class="ex1"><a class="cc" href="/">Back</a></h3>
    <p class="ex1">The man was very lazy and had nothing left......</p>
</div>
<div class="transbox">
    <h1>Individual Resume</h1>
    <img src="/avatar.jpg" height="50px" width="50px" class="ex1"/>
    <h2 class="ex1">name</h2>
    <h3 class="ex1">school Number：**********</h3>
    <h3 class="ex1">class：**********</h3>
    <h3 class="ex1">college：****</h3>
    <h3 class="ex1">university：<a class="cc" href="/">*****</a></h3>
    <h3 class="ex1"><a class="cc" href="/">Back</a></h3>
    <p class="ex1">The man was very lazy and had nothing left......</p>
</div>

<style>
    body {
        background-image: url("/bg.jpg");
        background-size: cover;
    }

    div.transbox {
        width: 1050px;
        height: 500px;
        margin: 90px 90px;
        background-color: #ffffff;
        border: 1px solid #FFFFFF;
        opacity: 0.8;
    }

    h1 {
        text-align: center;
    }

    h2.ex1 {
        margin-left: 5cm;
    }

    h3.ex1 {
        margin-left: 5cm;
    }

    img.ex1 {
        margin-left: 5cm;
    }

    p {
        text-align: right;
    }

    p.ex1 {
        margin-right: 2cm;
    }

    p {
        color: mediumpurple
    }

    /*cc:change color*/
    a.cc:visited {
        color: #0000ff;
    }

    a.cc:hover {
        color: #ffcc00;
    }
</style>
